* {
  font-family: MyCase, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MyCase";
  src: url(https://www.dropbox.com/s/x3vr0gwwxw6oq0d/Larsseit-Thin.woff)
      format("woff"),
    url(https://www.dropbox.com/s/706rbr82spceygd/Larsseit-Thin.eot)
      format("eot");
  font-weight: 100;
}

@font-face {
  font-family: "MyCase";
  src: url(https://www.dropbox.com/s/kbo65aud6kagxu6/Larsseit-Light.woff)
      format("woff"),
    url(https://www.dropbox.com/s/szao9fw4rnont1k/Larsseit-Light.eot)
      format("eot");
  font-weight: 300;
}

@font-face {
  font-family: "MyCase";
  src: url(https://www.dropbox.com/s/kbo65aud6kagxu6/Larsseit-Light.woff)
      format("woff"),
    url(https://www.dropbox.com/s/t83q4r2aj75hm3t/Larsseit-Medium.eot)
      format("eot");
  font-weight: 500;
}

@font-face {
  font-family: "MyCase";
  src: url(https://www.dropbox.com/s/kt3hg6rnsra8hsn/Larsseit-Bold.woff)
      format("woff"),
    url(https://www.dropbox.com/s/ypwtyaso8ipky41/Larsseit-Bold.eot)
      format("eot");
  font-weight: 700;
}

@font-face {
  font-family: "MyCase";
  src: url(https://www.dropbox.com/s/sx98torjwv6r08l/Larsseit-ExtraBold.woff)
      format("woff"),
    url(https://www.dropbox.com/s/uhcfamx4szioaq2/Larsseit-ExtraBold.eot)
      format("eot");
  font-weight: 900;
}
