* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: MyFont, Arial, sans-serif;
}

@font-face {
  font-family: "MyFont";
  src: url(https://www.dropbox.com/s/akmjb9kr2y666z6/MyFont-Thin.woff)
    format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "MyFont";
  src: url(https://www.dropbox.com/s/1wnhzivpiotkt8s/MyFont-Medium.woff)
    format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "MyFont";
  src: url(https://www.dropbox.com/s/3fmpf4oqz6uv0kr/MyFont-Bold.woff)
    format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "MyFont";
  src: url(https://www.dropbox.com/s/twocseom876r0mm/MyFont-ExtraBold.woff)
    format("woff");
  font-weight: 900;
}
